<div class="container">
    <div class="title-box">
        <h1>Pocket Squatch</h1>
    </div>
    <div id="subhead">
        <h2>Greetings <span>{{spriteName}}</span></h2>
        <h3>roomID: <span>{{roomID}}</span></h3>
    </div>
    <div class="result">Clientside Timer: <span id="timer-span"></span></div>

    <div id="hit-box-lyric">
        <div class="hit-box">
            {{!-- <img id="hero-sprite-img" class="hit-box-img" src="https://via.placeholder.com/200x275" alt="sprite hitbox"> --}}
        </div>
    </div>

    <div class="test-space">

        <ul>
            <li>
                Current beingType: <span>{{beingType}}</span>
            </li>

            <li>
                The human's health: <span>{{humanHealth}}</span>
            </li>

            <li>
                The sasquatch's health: <span>{{sasquatchHealth}}</span>
            </li>

            <li>
                enemyHealth: <span>{{enemyHealth}}</span>
            </li>

            <li>
                wins: <span>{{wins}}</span>
            </li>

            <li>
                losses: <span>{{losses}}</span>
            </li>

            <li>
                timer: <span id="counter-span">{{timer}}</span>
            </li>
        </ul>
    </div>

    <div class="test-space">
        <form name="myForm" method="POST" id="myForm" action="/test-actions">
            <label for="actionType">Choose Your Action Type:
                <div>
                    <input type="radio" name="actionType" id="strike" value="strike">
                    <label for="strike">strike</label>
                </div>

                <div>
                    <input type="radio" name="actionType" id="defend" value="defend">
                    <label for="defend">defend</label>
                </div>

                <div>
                    <input type="radio" name="actionType" id="walk" value="walk">
                    <label for="walk">walk</label>
                </div>

                <div>
                    <input type="radio" name="actionType" id="run" value="run">
                    <label for="run">run</label>
                </div>

                <div>
                    <input type="radio" name="actionType" id="jump" value="jump">
                    <label for="jump">jump</label>
                </div>

                <div>
                    <input type="radio" name="actionType" id="fly" value="fly">
                    <label for="fly">fly</label>
                </div>

                <div>
                    <input type="radio" name="actionType" id="transform" value="transform">
                    <label for="transform">transform</label>
                </div>

                <div>
                    <input type="radio" name="actionType" id="rest" value="rest">
                    <label for="rest">rest</label>
                </div>

                <div>
                    <input type="radio" name="actionType" id="enemyStrike" value="enemyStrike">
                    <label for="enemyStrike">enemy strike</label>
                </div>

                <div>
                    <input type="radio" name="actionType" id="isDefeated" value="isDefeated">
                    <label for="isDefeated">is defeated</label>
                </div>

                <div>
                    <input type="radio" name="actionType" id="isWinner" value="isWinner">
                    <label for="isWinner">is winner</label>
                </div>

                <div>
                    <input type="radio" name="actionType" id="receivesDmg" value="receivesDmg">
                    <label for="receivesDmg">receives damage</label>
                </div>

                <div>
                    <input type="radio" name="actionType" id="receivesHealth" value="receivesHealth">
                    <label for="receivesHealth">receives health</label>
                </div>

            </label>
            <br>

            <input id="submit-btn" type="submit" value="submit">
        </form>
    </div>


</div>